<div class="card animated fadeIn fast" >
  <img class="card-img-top img-fluid" src="{{ urlUploadImg + 'productos/' + producto._id }}">
  <div class="card-body">
    <!-- <h4 class="card-title">nombre</h4> -->
    <h4 class="card-title">{{ producto.nombre }}</h4>
    <p class="card-text"> Descripcion de categoria </p>
    <p class="card-text"><small class="text-muted">Clasificacion</small></p>

    <!-- <button type="button" class="btn btn-outline-primary btn-block">
      Comprar
    </button> -->
    <div class="btn-group mb-3">
      <button class="btn btn-outline-secondary"><i class="bi bi-bag-plus"></i></button>
        <div class="input-group w-25">
          <input class="text-center" type="text" class="form-control text-center" placeholder="0" disabled="disabled">
        </div>
        <button class="btn btn-outline-secondary"><i class="bi bi-bag-dash"></i></button>
    </div>
  </div>
</div>