<app-navbar></app-navbar>
<div class="container">

  <div class="row mb-3 mt-3">
    <div class="col-12">

      <h2>Producto a crear</h2>

    </div>

  </div>

  <form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

    <div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Imagen del producto</label>
        <div class="col-8">

          <input #file type="file" 
                 accept="image/*" 
                 class="form-control-file" 
                 formControlName="imagen" 
                 (change)="preview(file.files)" 
                 [class.is-invalid]="imgProductoNoValido">
          
          <small *ngIf="imgProductoNoValido" id="emailHelp" class="form-text text-danger">Por favor seleccione una imagen.</small>
          <!-- <br *ngIf="!imgProductoNoValido"> -->
          <img [src]="imgURL" height="100" *ngIf="imgURL">
          
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Nombre</label>
        <div class="col-8">

          <input type="text" 
                 class="form-control" 
                 id="exampleInputEmail1" 
                 aria-describedby="emailHelp" 
                 placeholder="Nombre del producto" 
                 formControlName="nombre"
                 [class.is-invalid]="nombreNoValido">

          <small *ngIf="nombreNoValido" id="emailHelp" class="form-text text-danger">Por favor escriba el nombre del producto</small>

        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Descripcion</label>
        <div class="col-8">

          <textarea
            class="form-control" 
            id="exampleInputEmail1" 
            aria-describedby="emailHelp" 
            placeholder="Descripcion del producto" 
            formControlName="descripcion"
            [class.is-invalid]="descripcionNoValido">
          </textarea>

          <small *ngIf="descripcionNoValido" id="emailHelp" class="form-text text-danger">Por favor escriba la descripcion del producto</small>

        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Precio</label>
        <div class="col-8">

          
          <input type="number" 
                 class="form-control" 
                 id="exampleInputEmail1" 
                 aria-describedby="emailHelp" 
                 placeholder="Precio del producto" 
                 formControlName="precio"
                 [class.is-invalid]="precioNoValido">

          <small *ngIf="precioNoValido" id="emailHelp" class="form-text text-danger">Por favor escriba el valor del producto.</small>

        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Categoria del producto</label>
        <div class="col-8">
          
          <select class="form-control" 
                  name="estado" 
                  formControlName="categoria" 
                  [class.is-invalid]="categoriaNoValido">

            <option *ngFor="let categoria of categoriasArray" [value]="categoria._id">
              {{ categoria.nombre }}
            </option>
          </select>

          <small *ngIf="categoriaNoValido" id="emailHelp" class="form-text text-danger">Por favor selecione la categoria del producto.</small>

        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
          <button type="submit" class="btn btn-outline-primary btn-block">
            Guardar
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<hr>

<pre>
  Estado del formulario: {{ forma.valid }}
  <br>
  Status: {{ forma.status }}
</pre>

<pre>

  {{ forma.value | json }}

</pre>

