<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
    
    <a class="navbar-brand" >Test</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerRestaurant" aria-controls="navbarTogglerRestaurant" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerRestaurant">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active" routerLinkActive="active">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/usuarios" routerLinkActive="active">Usuarios</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/categorias" routerLinkActive="active">Categorias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <button class="mr-3" (click)="showModal=true">
            <i class="bi bi-cart"><span class="badge bg-secondary">{{ numPro }}</span></i>
        </button>
        
        <span class="navbar-text">
            Welcome {{ nombre }}
        </span>
    </div>
</nav>

<!-- Modal -->
  <div class="modal fade" [ngClass]="{'show':showModal}" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"><strong>Tu carrito de compras</strong></h5>
          <button type="button" class="close" (click)="showModal=false" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="numPro == 0">
          <span>Lo siento, no has comprado nada</span>
        </div>
        <div class="modal-body" *ngIf="numPro != 0">
            <table class="table">
                <thead>
                  <tr>
                      <th scope="col">Producto</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col">Precio</th>
                      <th scope="col">Eliminar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let numPr2 of numPro2; let i = index">
                      <td>{{numPr2.producto}}</td>
                      <td><button class="mr-2" (click)="productCantidad(false, i)" [disabled]="numPr2.cantidad == 1"><i class="bi bi-caret-left"></i></button>{{numPr2.cantidad}}<button class="ml-2" (click)="productCantidad(true, i)"><i class="bi bi-caret-right"></i></button></td>
                      <td>{{numPr2.precio | currency}}</td>
                      <th><button class="btn btn-outline-danger" (click)="modalCar(i)"><i class="bi bi-trash"></i></button></th>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                      <th scope="col-3">Total</th>
                      <th scope="col-3">{{ numPro }}</th>
                      <th scope="col-3">{{ valorTotal | currency }}</th>
                      <th scope="col-3"></th>
                  </tr>
                </thead>
              </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="showModal=false">Seguir comprando</button>
          <button type="button" class="btn btn-primary" *ngIf="numPro != 0">Ejecutar la compra</button>
        </div>
      </div>
    </div>
  </div>





