<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
    
    <a class="navbar-brand" >Akorbi-Test</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerRestaurant" aria-controls="navbarTogglerRestaurant" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerRestaurant">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/usuarios">Usuarios</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/categorias">Categorias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        
        <span class="navbar-text">
            Welcome {{ nombre }}
        </span>
    </div>
</nav>