
<div class="card animated fadeIn fast" >
  <!-- <img class="card-img-top img-fluid" src="./assets/images/usuarios/no-image.jpg"> -->
  <img class="card-img-top img-fluid" src="{{ urlUploadImg + 'categorias/' + categoria._id}}">
  <div class="card-body">
    <h4 class="card-title">{{ categoria.nombre }}</h4>
    <p class="card-text"> Descripcion de categoria </p>
    <p class="card-text"><small class="text-muted">Clasificacion</small></p>

    <button [routerLink]="['/productos', categoria._id]"
      type="button" class="btn btn-outline-primary btn-block">
      Ver productos ...
    </button>
  </div>
</div>
