<div class="card animated fadeIn fast" >

  <!-- <img class="card-img-top img-fluid" src="{{ urlUploadImg + 'categorias/' + categoria._id}}"> -->

  <!-- Slider main container -->
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div *ngFor="let product of slideImg" class="swiper-slide" [ngStyle]="{
        'background-size' : 'cover',
        'background-image': 'url('+urlUploadImg+'productos/'+product._id+')'
         }">
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div (click)="onSlidePrev()" class="swiper-button-prev"></div>
    <div (click)="onSlideNext()"class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>


  <div class="card-body">
    <h4 class="card-title">{{ categoria.nombre }}</h4>
    <p class="card-text"> {{ categoria.descripcion }} </p>
    <p class="card-text"><small class="text-muted">Clasificacion</small></p>

    <button [routerLink]="['/productos', categoria._id]"
      type="button" class="btn btn-outline-primary btn-block">
      Ver productos ...
    </button>
  </div>
</div>
